body {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
.wrapper {
  margin: 0px 450px 5px;
  padding: 5px;
  max-width: 960px;
  text-align: justify;
  }
.pseudowrapper {
  margin: 0px 450px 5px;
  padding: 5px;
  max-width: 960px;
  text-align: justify;
}
h1 {
  padding: 5px;
  text-decoration: underline;
  font-family: 'Arial';
  font-size: 24px;
  text-align: center;
  }
h2 {
  padding: 5px;
  text-decoration: underline;
  font-family: 'Arial';
  font-size: 14px;
  text-align: left;
  }
h3 {
  font-family: 'Arial';
  font-size: 14px;
  text-align: center;
  }
h5 {
  font-family: 'Arial';
  font-size: 12px;
  text-align: left;
  }
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 50%;
  font-family: 'Arial';
  font-size: 12px;
  text-align: left;
  }
.active, .collapsible:hover {
  background-color: #555;
  }
.content {
  padding: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  }

}
